<!DOCTYPE html>

<html>

<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<meta name="description" content="A design a devlopment studio focusing on iOS apps and the web.">
	<meta name="keywords" content="app,apps,iOS,development,design,studio,iPhone,iPad,Mac,Apple">
	
	<link rel="alternate" type="application/rss+xml" title="Cosmic Owl Studio" href="{{ site.baseurl }}/feed.xml">
	<link rel="shortcut icon" href="/favicon.ico">
	
	<!-- <link rel="stylesheet" href="//cloud.webtype.com/css/fa92cf68-f469-44c7-8d0f-335148ff8952.css"> -->
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">

	<script src="//use.typekit.net/dat5tts.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!-- <script type="text/javascript" src="https://raw.githubusercontent.com/toddmotto/fluidvids/master/src/fluidvids.js"></script> -->

	<script src="{{ "/js/jquery-1.11.0.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
	<link href="{{ "/css/lightbox.css" | prepend: site.baseurl }}" rel="stylesheet" />

</head>
