---
layout: default
title: Cosmic Owl Book Club
---

<header class="bookClubHeader">
  <h1 class="bookClubTitle"><a href="/book-club">Cosmic Owl Book Club</a></h1>
</header>

<div id="content">
{% for post in site.posts %}
  {% if post.categories contains 'book-club' %}
	<div class="book">
		<h2 class="bookTitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <h3 class="bookInfo">{{ post.author }}, {{ post.published }} <span style="font-size:0.7em; color:gray;">&nbsp;&nbsp;—&nbsp;&nbsp;picked by {{ post.picked }}</span></h3>
		<div class="entry">
      <img src="/book-club/img/{{ post.image }}" class="bookCover">
			{{ post.content }}
		</div>
    <br class="clear"/>
	</div>
  {% endif %}
{% endfor %}
</div>
