{% include head.html %}

<body class="{{ page.layout }}">

  <header>
    <h1><a href="/">{{ site.title | xml_escape }}</a></h1>    
  </header>

  <article>
    <h2>{{ page.title }}</h2>

    {% for i in (1..page.images) %}
      {% capture thecycle %}{% cycle 'imgleft', 'imgright' %}{% endcapture %}
      <a href="{{ site.baseurl }}/assets/{{ page.galleryURL }}/{{ i }}.jpg" data-lightbox="image-1">
      <img src="/assets/{{ page.galleryURL }}/{{ i }}.jpg" class="{{ thecycle }}">
      </a>

      {% if thecycle == 'imgright' %}
        <br>
      {% endif %}

    {% endfor %}

    {{ content }}
    
  </article>

  <article>
    {% include footer.html %}
  </article>

</body>

</html>