{% include head.html %}

<body class="{{ page.layout }}">

  <header>
    <h1><a href="/" id="plainHeader">{{ site.title | xml_escape }}</a></h1>    
  </header>

  <article>
    <h2>{{ page.title }}</h2>

    {% for i in (1..page.images) %}
      {% capture thecycle %}{% cycle 'imgleft', 'imgright' %}{% endcapture %}
      {% capture cycle2 %}{% cycle 'left', 'right' %}{% endcapture %}
      <div class="{{ cycle2 }}">
        <!-- <a href="{{ site.baseurl }}/assets/{{ page.galleryURL }}/{{ i }}.jpg" data-lightbox="image-1">
        <img src="/assets/{{ page.galleryURL }}/{{ i }}.jpg" class="{{ thecycle }}">
        </a> -->
        <a href="{{ site.baseurl }}/assets/{{ page.galleryURL }}/{{ i }}.jpg" data-lightbox="image-1">
        <img src="/assets/{{ page.galleryURL }}/{{ i }}.jpg">
        </a>
      </div>

      {% if thecycle == 'imgright' %}
        <br>
      {% endif %}

    {% endfor %}

    {{ content }}

    {% include footer.html %}
    
  </article>

  <script>
  var colors = ['#E25243', '#00aeef', '#22d5e5', '#B8E986', '#F5A623', '#4A90E2', '#7F92A8', '#61C037',    '#B370EF', '#ffdc29', '#FF6858'];
  var hoverColors = ['Mint', 'Orange', 'Blue', 'Juicy', 'Turquoise', 'Bright', 'Dark', 'Green',            'Purple', 'Yellow', 'Pink']
  var randomColor = Math.floor((Math.random()) * colors.length);
  var changeBackground = function() {
    document.getElementById("plainHeader").style.color = colors[randomColor];
  };
  changeBackground();
</script>

</body>

</html>