{% include head.html %}

<body class="{{ page.layout }}">

  <header class="bookClubHeader">
    <img src="/img/owl.svg" alt="Cosmic Owl" height="100px" width="100px" style="display:block; margin:0 auto 0 auto; padding-top:0.5em;">
    <h1 class="bookClubTitle"><a href="/">{{ page.title }}</a></h1>
  </header>

  <div id="content">
  <article>
  <!-- <h4>{{ page.date | date_to_long_string }}</h4> -->
  {{ content }}
  <article>
  </div>

  {% include footer.html %}

  <script>
  var colors = ['#E25243', '#00aeef', '#22d5e5', '#F5A623', '#4A90E2', '#7F92A8',
  '#FF6858'];
  var hoverColors = ['Mint', 'Orange', 'Blue', 'Turquoise', 'Bright', 'Dark',
  'Pink']
  var randomColor = Math.floor((Math.random()) * colors.length);
  var changeBackground = function() {
    document.getElementById("plainHeader").style.color = colors[randomColor];
  };
  changeBackground();
</script>

</body>

</html>
